# Disabled.  See bug report:  https://forum.armbian.com/topic/59928-bug-btrfs-hits-16t-page-cache-limit-on-1t-drive/

# m     h       dom     mon     dow     user                    command
# {{ btrfs_balance_minute }}      {{ btrfs_balance_hour }}      *       *       {{ btrfs_balance_day_of_week }}      root                    /usr/local/bin/btrfs_balance
